body {
    background: #f6f6fb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #f6f6fb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
