

<div class="w3-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container">
            <!--<a class="navbar-brand" href="/">
            VSI
        </a>-->
            <img src="/img/logo_vsi.png" class="animated flipInY" alt="" style="height: 50px">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w3-container">
                <div class="w3-bar w3-right" id="navbarNav">
                    <a class="nav-link" href="/" style="float: left">
                        <i class="fas fa-home" style="padding-right: 8px"></i>Home</a>
                    <a class="nav-link" href="/contact" style="float: left">
                        <i class="fas fa-building" style="padding-right: 8px"></i>Contacto</a>
                    <a class="nav-link" href="/#about" style="float: left">
                        <i class="fas fa-envelope" style="padding-right: 8px"></i>About</a>
                </div>
            </div>
        </div>
    </nav>
</div>
